{% extends "admin/admin_base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 mt-5">
      <div class="card shadow p-4 rounded-4">
        {% if user.is_authenticated %} {% if user.user_type == '1' or user.is_staff %}
        <h2 class="text-center text-primary mb-4">Admin Profile</h2>
        {% elif user.user_type == '2' %}
        <h2 class="text-center text-success mb-4">Employee Profile</h2>
        {% endif %} {% endif %}


        <div class="mb-4 row justify-content-center">
          <div class="col-sm-6 text-center">
            <img
              src="{{ request.user.profile_pic.url }}"
              class="img-fluid rounded-circle border"
              alt="Profile Picture"
              style="max-width: 150px; height: auto"
            />
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label fw-semibold">Username:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ request.user.username }}</p>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label fw-semibold">Email:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ request.user.email }}</p>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label fw-semibold">Contact No:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ request.user.contact_no }}</p>
          </div>
        </div>

        <div class="text-center mt-4">
          <a href="{% url 'tasks:edit_profile' %}" class="btn btn-warning px-4"
            >Edit Profile</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
