<div class="topnav">
  {% if user.is_authenticated %} {% if user.user_type == '1' or user.is_staff or user.user_type == 'admin' %}
  {% comment %} <a href="{% url 'tasks:AdminDashboard' %}">Dashboard</a>
  <a href="{% url 'tasks:task_list' %}">Task List</a>
  {% endcomment %}
  <a href="{% url 'tasks:AdminProfilePage' %}">Profile</a>
  {% comment %}
  <a href="{% url 'tasks:logoutPage' %}" class="split">Logout</a> {% endcomment %}



  {% elif user.user_type == '2' %}
  <a href="{% url 'tasks:home' %}">Home</a>
  <a href="{% url 'tasks:task_list' %}">Task List</a>
  <a href="{% url 'tasks:AdminProfilePage' %}">Profile</a>
  <a href="{% url 'tasks:logoutPage' %}" class="split">Logout</a>
  {% endif %} {% else %}
  <a href="{% url 'tasks:home' %}">Home</a>
  <a href="{% url 'tasks:task_list' %}">Task List</a>
  <a href="{% url 'tasks:AdminProfilePage' %}">Profile</a>
  <a href="{% url 'tasks:loginPage' %}" class="split">Login</a>
  <a href="{% url 'tasks:registration' %}" class="split">Register</a>
  {% endif %}
</div>
